@import './CarouselImages/styles.scss';
@import './CarouselModal/styles.scss';
@import './VideoList/styles.scss';
@import './YoutubeVideo/styles.scss';

.detailsMedia {
  @media only screen and (max-width: 639px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  font-family: $font-family;

  &__title {
    margin-left: 30px;

    color: $primary-text;
    opacity: 0.87;
    font-size: 22px;
    cursor: default;
  }

  &__images {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    background-color: $white-darken-5;
    transition: background-color 0.7s;
    &:hover {
      background-color: $divider-color;
    }
  }
  &__videos {
    @media only screen and (max-width: 1000px) {
      display: none;
    }
    margin: 0 auto;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    background-color: $white-darken-5;
    transition: background-color 0.7s;
    &:hover {
      background-color: $divider-color;
    }
  }
}