.personPrimary {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  &__poster {
    background-color: rgba(14, 13, 13, 0.151);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;

    padding: 10px 30px;
    background-color: rgba(14, 13, 13, 0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &__item {
      display: flex;

      font-family: $font-family;
      color: $primary-text;
    }
    &__content {
      padding-right: 8px;
     
      cursor: default;
      &--ref {
        color: $dark-primary;
        cursor: pointer;
        &:hover, &:focus {
          text-decoration: none;
          color: $light-primary;
        }
      }
    }
  }

  &__biography {
    padding: 20px;

    font-family: $font-family;
    color: $primary-text;
    cursor: default;
  }
}