.personQueryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
  padding: 10px 110px;

  user-select: none;
  &__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    align-items: center;

    margin: 0 10px;
    padding: 20px;
    margin-bottom: 20px;

    border-radius: 5px;
    overflow: hidden;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.3s all;

    &:hover, &:focus  {
      text-decoration: none;
      background: $white-darken-5;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      outline: none;
    }
  }

  &__poster {
    width: 185px;
    height: 278px;
    overflow: hidden;
  }

  &__title {
    margin: 0;

    font-family: $font-family;
    color: $accent;
    font-size: 16px;
    font-weight: $font-medium;
  }

  &__noPoster {
    width: 185px;
    height: 278px;
    background: grey;
  }
}