.searchbar {
  display: flex;
  margin-left: auto;
  margin-right: 20px;

  @media only screen and (max-width: 519px) {
    display: none;
  }

  &__input {
    border: none;
    border-radius: 4px;
    width: 200px;
    padding: 0 10px;
    overflow-x: hidden;
    
    color: $secondary-text;
    font-family: $font-family;
    font-weight: $font-medium;
    cursor: pointer;
    
    transition: 0.3s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &:focus {
      width: 300px;
      outline: none;
      cursor: text;
      @media only screen and (max-width: 640px) {
        width: 200px;
      }
    }
  }

  &__button {
    position: relative;
    right: 10px;

    display: flex;
    padding: 0;
    border: none;
    border-radius: 5px;

    background: $white;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    & svg {
      fill: $secondary-text;
      transition: 0.2s all;
      &:hover {
        fill: $dark-primary;
      }
      &:active {
        transform: scale(1.1);
      }
    }
  }
}